%h1 Find an Instructor
%hr

#search
  %form(action="/" method="post")
    %label(for="search") Search
    %input(type="text" name="search" placeholder="Street, City, Zip, Whatever!")
    %label(for="range") Range
    %select(name="range")
      %option(value="5") 5 Miles
      %option(value="10") 10 Miles
      %option(value="25") 25 Miles
      %option(value="50") 50 Miles
      %option(value="100") 100 Miles
    %input(type="submit" value="Search")

- if @instructors
  %h2 Instructors near #{@formatted_address}
  %hr
  .instructor-list
    - @instructors.each do |ins|
      .instructor
        %h3= ins.name
        %p= ins.location

#map(style="width:400px; height: 400px")

-if @instructors
  :javascript
    function initialize() {
      var location = new google.maps.LatLng(#{@lat}, #{@lng});
      var myOptions = {
        zoom: 13,
        center: location,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      var map = new google.maps.Map(document.getElementById("map"),
        myOptions);

      var marker = new google.maps.Marker({
        position: location,
        map: map,
        title: "#{@formatted_address}"
      });
      var location2 = new google.maps.LatLng(#{Instructor.first.lat}, #{Instructor.first.lng});
      var guy = new google.maps.marker({
        position: location2,
        map: map,
        title: "#{Instructor.first.name}"
      });
    }


  :javascript
    var location = new google.maps.LatLng(#{Instructor.first.lat}, #{Instructor.first.lng});
    var guy = new google.maps.marker({
      position: location,
      map: map,
      title: "#{Instructor.first.name}"
    });
    marker.setMap(map);
